<header class="w-full h-[60px] px-[10%] m-auto flex justify-between items-center bg-[#3778c2] text-white <%= 'hidden' if current_page?(new_user_session_path) || current_page?(new_user_registration_path)%>">
<% if current_page?(root_path) %>
  <%= image_tag ("more.png"), class: "w-[10vw]" %>
<% else %>
  <%= link_to root_path do%>
      <%= image_tag ("arrow.png"), class: "w-1/3" %>
  <% end %>
<% end %>
  <nav class="navbar">
    <ul class="navLinks flex items-center gap-4">
      <% if user_signed_in? %>
        <li class="border-l-2 pl-2"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% if current_user %>
          <%= link_to user_path(current_user.id) do %>
            <li class="bg-white text-[#11537d] px-2 py-1 rounded-md font-medium">
              <%= current_user.name %>
            </li>
          <% end %>
        <% end %>
      <% else %>
        <li><%= button_to "Sign in", new_user_session_path, method: :get %></li>
        <li><%= button_to "Sign up", new_user_registration_path, method: :get %></li>
      <% end %>
    </ul>
  </nav>
</header>