<!DOCTYPE html>
<html>
  <head>
    <title>BudgetApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito+Sans:wght@200;300;700&display=swap');
    </style>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= current_page?(new_user_session_path) || current_page?(new_user_registration_path) ? 'bg-[#3778c2]' : 'bg-[#eeeeee]'%>">

  <%= render "partials/nav_bar" %>

    <% if notice %>
      <p class="notice text-white bg-[#5fb523] p-4 text-center w-full"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert text-white bg-red-400 p-4 text-center w-full"><%= alert %></p>
    <% end %>

  <main class="px-[10%] flex flex-col items-center">
      <%= yield %>
  </main>
  </body>
</html>
